<h1>List of All Students</h1>

<div>
  <% @students.each do |student| %>
    <div><%= link_to student.first_name, student %></div>
  <% end %>
</div>

<br>
<%= link_to "Add a New Student", "/students/new" %>